#arriba{
	width: 500px;
	height: 80px;
	background-image: url(arriba.jpeg);
	

}
.titulo{
	text-align: center;
	color: white;
	position: relative;
	top:40%;
	font-size: 20px;
	font-weight: bold;
}

 #content{

	width: 500px;
	height: 600px;
	background-color: white;
	position: relative;
	margin: auto;

}
#fotoizq{
	width: 120px;
	height: 200px;
	background-image: url(izquierda.jpeg);
	margin-right: 10px;
	float: left;
	margin-bottom: 5px;

}
#fotoder{
	width: 60px;
	height: 200px;
	background-image: url(derecha.jpeg);
	
	float: right;
	margin-left: 10px;
	
	

}
#abajo{
	width: 500px;
	height: 120px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 12px;
	clear:both;
	
}
#medio{
	width: 500px;
	height: 325px;
	font-size: 12px;
	text-align: justify;
}
#uno{
	width:166px;
	height:120px;
	float: left;
	margin-top: 10px;
	
}
#dos{
	width:166px;
	height:120px;
	margin-top: 10px;
	float: left;
	font-size: 8px;
	text-align: center;
}
#tres{
	width:166px;
	height:120px;
	float: left;
	margin-top: 10px;
}
